.add {
    width: 24px;
    height: 24px;
    margin: 8px 0;
    padding: 3px;
    gap: 5px;
    display: flex;
    transition: all 0.3s;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    color: transparent;
    background-color: var(--interaction-norm);
}

.add.expand {
    color: var(--interaction-norm-contrast);
}

.option {
    padding: 3px 8px;
    border-radius: 20px;
    z-index: 10;
    cursor: pointer;
    white-space: nowrap;
}

.option:hover {
    background-color: var(--interaction-norm-hover);
}

.plus {
    width: 14px;
    padding: 0 5px;
    fill: var(--interaction-norm-contrast);
    position: absolute;
    transition: all 0.2s;
}

.expand .plus {
    fill: transparent;
}
