.container {
    height: 22px;
    min-width: 100px;
    padding: 4px 8px;
    display: grid;
    position: relative;
    align-items: center;
    grid-template-columns: 1fr auto;
    border-radius: 10px;
    color: var(--text-norm);
    background-color: inherit;
    border: 1px solid var(--field-norm);
    margin: 8px;
}

.container.disabled {
    pointer-events: none;
    border: 1px dashed var(--field-disabled);
    color: var(--field-disabled);
}

.container:hover {
    border: 1px solid var(--field-hover);
}

.container:focus,
.container:focus-within {
    border: 1px solid var(--interaction-norm);
}

.label {
    top: 6px;
    left: 5px;
    padding: 0 3px;
    position: absolute;
    font-size: 16px;
    line-height: 16px;
    pointer-events: none;
    background-color: inherit;
    color: var(--field-norm);
    transition: font-size 0.2s;
    transition-property: font-size, top, left;
}
.container:hover .arrow {
    fill: var(--field-hover);
}
.container:hover .label {
    color: var(--field-hover);
}

.container:focus .label,
.container:focus-within .label {
    color: var(--interaction-norm);
}

.minimize .label {
    top: -9px;
    left: 10px;
    font-size: 12px;
}

.arrow {
    width: 14px;
    height: 14px;
    fill: var(--field-norm);
    pointer-events: none;
    margin-left: 8px;
}

.selectText {
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}

.options {
    top: 0px;
    left: 0px;
    width: 200px;
    z-index: 10;
    color: #000;
    overflow: hidden;
    position: absolute;
    border-radius: 9px;
    background-color: var(--interaction-weak);
}

.option {
    padding: 8px;
    gap: 10;
    color: var(--text-norm);
}

.option:hover {
    background-color: var(--interaction-weak-hover);
}

.checked {
    background-color: var(--interaction-weak-active);
}

.text {
    all: unset;
}
