.background {
    top: 0;
    left: 0;
    z-index: 25;
    width: 100vw;
    height: 100vh;
    position: fixed;
    transition: all 0.3s;
    background: var(--backdrop-norm);
    backdrop-filter: blur(2px);
}

.card {
    border-radius: 8px;
    padding: 8px 12px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 45px 1fr;
    grid-template-areas: 'image room' 'image name' 'image state';
    transition: all 0.25s;
    font-size: 0.875rem;
    font-weight: 500;
    align-items: center;
    color: var(--text-norm);
    background-color: var(--interaction-weak);
    border: 1px solid var(--border-weak);
}

.card div {
    pointer-events: none;
    user-select: none;
}

.image {
    grid-area: image;
    width: 35px;
    height: 35px;
    fill: var(--interaction-norm);
}

.name {
    grid-area: name;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.room {
    grid-area: room;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.state {
    grid-area: state;
    color: var(--text-weak);
}

@media (hover: hover) {
    .card:hover {
        transform: scale(1.03);
        background-color: var(--interaction-weak-hover);
    }
}

.card:active {
    transform: scale(0.93);
    background-color: var(--interaction-weak-active);
}

.active.card {
    background-color: var(--interaction-weak-active);
}
