.container {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: var(--interaction-norm-contrast);
}

.condition {
    background-color: var(--interaction-norm);
    padding: 3px;
    height: 24px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.operator {
    display: flex;
    background-color: var(--interaction-norm);
    height: 24px;
    padding: 3px 6px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.if {
    color: var(--text-norm);
}

.remove {
    fill: var(--text-weak);
    height: 18px;
    width: 18px;
    padding: 4px;
    border-radius: 20px;
    transition: all 0.25s;
}

.remove:hover {
    fill: var(--interaction-norm-contrast);
}

.state,
.device {
    padding: 3px 5px;
    border-radius: 15px;
}

.state:hover,
.device:hover,
.remove:hover,
.operator:hover {
    background-color: var(--interaction-norm-hover);
}

.time {
    all: unset;
    width: 45px;
    padding: 3px 5px;
    text-align: center;
}

.time::placeholder {
    color: var(--text-weak);
    opacity: 1;
}
