.triggerRow {
    display: flex;
    flex-wrap: wrap;
    background-color: inherit;
}

.entryRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: inherit;
}

.parentRow {
    margin-left: 20px;
    flex-wrap: wrap;
    background-color: inherit;
}

.elseRow {
    color: var(--text-norm);
    margin-left: 15px;
}
